.alignp {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  color: white;
  font-weight: bold;
}

.back-image {
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -170px;
  min-height: 50vh;
}

.header-title {
  text-align: center;
  margin: 40px 20px;
  font-weight: bold;
  color: white;
}

.header-title h1 {
  font-size: 34px;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
